/* normalize */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/*  N A V B A R -START*/

.logo {
  padding: 0.5em 0;
  margin-right: 10px;
  vertical-align: middle;
}
/* MovieNet text */

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.glitch-text {
  display: inline-block;
  animation: glitch 1s linear infinite;
  font-size: 30px;
  letter-spacing: -2px;
  vertical-align: middle;
  color: #ff9800;
}
@media (max-width: 767px) {
  .glitch-text {
    display: none;
  }
}
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch-text:before,
.glitch-text:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch-text:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch-text:after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* search-bar */
.search-bar {
  border: none;
  outline: none;
  max-width: 350px;
}
/* searchbar on mobile-s */
@media screen and (max-width: 350px) {
  .search-bar {
    margin-bottom: 10px;
    margin-right: 0;
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .search-bar {
    min-width: 450px;
  }
}
/* N A V B A R  -END */

/* S I D E B A R  -START*/
/* Genre Button */

.genre-btn {
  padding: 7px 10px;
  margin: 5px;
  color: #5f544d;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  border-radius: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffcc80;
}

.genre-btn:hover {
  background-color: #ffae00;
  color: white;
  box-shadow: 0 2px 6px rgba(255, 170, 11, 0.5);
}

.genre-btn.active {
  background-color: #ff9800;
  color: #fff;
}
.genre-btn.selected {
  background-color: #ff9800;
  color: #fff;
  box-shadow: none;
  transform: scale(1.05);
  border: 1px solid #ff9800;
}

/* S I D E B A R -END */

/* M A I N -START */
.movie-card {
  height: 300px;
  width: 200px;
  border: 1px solid #ffae00;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.005);
  border: 1px solid #ff9800;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 153, 0, 0.678);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.movie-card:hover .overlay {
  opacity: 1;
}

/* /movies/:id */

.movie-details {
  margin: 1em;
}
/* error */
.error-message-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
  font-size: 24px;
  color: #ff0000;
}

.error-message-id p {
  margin: 0;
}

/* success*/

/* left side */
.details-image img {
  /* max-width: 100%; */
  /* height: auto; */
  max-height: 30em;
  border: 1px solid #ff9800;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.details-image .official-site-link {
  background-color: #ffae00;
  color: black;
  border: none;
  padding: 6px 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
}
.official-site-link:hover {
  transform: scale(1.05);
}

.other-information {
  margin-top: 10px;
}

.official-site-link {
  background-color: #ffae00;
  color: black;
  border: none;
  padding: 35px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}
