body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: yellow;
}
.logo {
  padding-top: 0.5em;
}
.search-bar {
  border: none;
  outline: none;
  max-width: 350px;
}
/* searchbar on mobile-s */
@media screen and (max-width: 350px) {
  .search-bar {
    margin-bottom: 10px;
    margin-right: 0;
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .search-bar {
    min-width: 450px;
  }
}

/* scrollbar (sidebar is sticky and had another scrollbar)*/

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
